<div class="navbar-fixed">
   <nav>
     <div class="nav-wrapper">
       <a href="/posts" class="brand-logo">DBC Overflow</a>
       <ul class="right hide-on-med-and-down">
         <li><a href="/logout">Logout</a></li>
       </ul>
     </div>
   </nav>
 </div>

 <form id="questions" method="question" action="/questions">
  <input type="text" name="title" placeholder="title">
  <input type="submit" value="submit new question">
</form>


<% @questions.each do |question| %>
<div class="collection deep-orange accent-3">
  <a href="/posts/<%= question.id %>" class="collection-item"><%= question.title %></a>
</div>
<% end %>
